/*background color*/
body{
	background-color: #3399ff;
	overflow:hidden;
	margin: 0px;
	padding: 0px;
	text-align: center;
}


/*background color*/
body.welcomepg{
	overflow:scroll;
	margin: 0px;
	padding: 0px;
	text-align: center;
}

.req{
	color: red;
}

/*ActiviLog heading - change to logo*/
h1{
	font-family:"Arial";
	color: white;
	margin-top: 120px;
}


/*form background*/
div.loginform form{
	display: inline-block;
	text-align:center;
	border-radius: 7px;
	padding: 10px 20px;
	background-color: #f2f2f2;
	width: 250px;
	height: 325px;
}

/*login to your account header*/
div.loginform h4{
	text-align: center;
	font-family:"Verdana";
	margin-top:15px;
	margin-bottom:15px;
}

/*form content - text type*/
div.loginform input[type=text]{
	padding: 10px 10px;
	width: 200px;
	font-family:"Verdana";
	margin: 8px;
}

/*form content - password type*/
div.loginform input[type=password]{
	padding: 10px 10px;
	width: 200px;
	font-family:"Verdana";
	margin: 8px;
}


/*button*/
div.loginform button
{
	border: none;
	background-color:#3399ff;
	font-size: 12px;
	padding: 10px 20px;
	cursor: pointer;
	margin-top: 8px;
	margin-bottom:10px;
	width:105px;
	height:40px;
	color: white;
}

/*hover button*/
div.loginform button:hover {
	background-color: #0066ff;
}

/*register button color setting*/
#register{
	background-color: #ff5050;
	margin-left: 5px;
}


/*forgot your password?*/
div.loginform a{
	font-size:10px;
	float: right;
	margin-right: 15px;
	margin-top:10px;
}



/*form background*/
div.registerform form{
	display: inline-block;
	text-align:center;
	border-radius: 7px;
	padding: 10px 20px;
	background-color: #f2f2f2;
	width: 250px;
	height: 350px;
}

/*register to your account header*/
div.registerform h4{
	text-align: center;
	font-family:"Verdana";
	margin-top:10px;
	margin-bottom:12px;
}

/*form content - text type*/
div.registerform input[type=text]{
	padding: 10px 10px;
	width: 200px;
	font-family:"Verdana";
	margin: 8px;
}

/*form content - password type*/
div.registerform input[type=password]{
	padding: 10px 10px;
	width: 200px;
	font-family:"Verdana";
	margin: 8px;
	margin-bottom: 12px;
}


/*button*/
div.registerform button
{
	border: none;
	background-color:#fb5f53;
	font-size: 12px;
	padding: 10px 20px;
	cursor: pointer;
	margin-top: 10px;
	margin-bottom:10px;
	width:210px;
	height:40px;
	color: white;
}

/*hover button*/
div.registerform button:hover {
	background-color: #ff6666;
}



/*terms and conditions*/
div.registerform form p{
	font-size:10px;
	display:inline;
}

div.registerform form a{
	font-size:10px;
	display: inline;
}



div::after {
  content: "";
  background-image: url(wb1.jpg);
  background-size: 100%;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

img{
	width: 95px;
	height: 90px;
	margin-top: 100px;
	margin-bottom: 18px;
	opacity: 0.8;
}


/*form background*/
div.outer form{
	display: inline-block;
	text-align:center;
	border-radius: 7px;
	padding: 10px 20px;
	background-color: #f2f2f2;
	width: 320px;
	height: 200px;
	opacity: 0.8;
}

/*Welcome header*/
div.outer h2{
	float: left;
	font-family:"Verdana";
	margin-top:15px;
	margin-bottom: 2px;
	margin-left: 8px;
}

/*Enter your organization name header*/
div.outer h6{
	float: left;
	font-family:"Arial";
	margin-bottom:20px;
	margin-top: 5px;
	margin-left: 8px;
}

/*form content - text type*/
div.outer input[type=text]{
	padding: 10px 10px;
	width: 200px;
	font-family:"Verdana";
	margin: 8px;
	margin-right: 0px;
	float:left;
}

/*@activilog*/
div.outer p{
	font-family: "Arial";
	font-size: 13px;
}

/* continue button*/
div.outer button
{
	border: none;
	background-color:#3399ff;
	font-size: 12px;
	padding: 10px 20px;
	cursor: pointer;
	margin-top: 0px;
	margin-bottom:10px;
	width:300px;
	height:40px;
	color: white;
	font-weight: bold;
}

/*hover button*/
div.outer button:hover {
	background-color: #0066ff;
}

/*footer*/
div.footer{
	position:fixed;
	width: 100%;
	bottom:0px;
	background-color: #ffffff;
	opacity: .2;
	padding: 6px;
}

div.footer p{
	font-size: 11px;
	display: inline;
	color: black;
	font-family: "Arial";
	margin-right: 5px;
}

div.footer a{
	display: inline;
	font-size: 11px;
	color: black;
	font-family: "Arial";
	margin: 5px;
}
