extends layout

block content
  #coverflowSignin.coverflow
    .container-fluid
      .col-md-6.col-md-offset-3
        form.entries.form-group.form-group-lg(name='/login', method="post")
          h1 Welcome Back
          .form-group
            label.sr-only(for='inputEmail') Email address
            input.form-control(id='inputEmail', type='email', name='email', placeholder='Student or staff email address', required, autofocus)
          .form-group
            label.sr-only(for='inputPassword') Password
            input.form-control(id='inputPassword', type='password', name='password', placeholder='Password', required)
          button.btn.btn-lg.btn-default.btn-block(type='submit') Sign in
