<!DOCTYPE html>
<html lang="en-AU">
	<head>
		<meta charset="utf-8">
		<title>Welcome to ActiviLog</title>
		<link rel="stylesheet" type="text/css" href="style.css">
		<link rel="stylesheet" href="css/font-awesome.min.css">
	</head>


	<body>

		<img src="images/logo7.png" alt="ActiviLog">

		<div class="outer">
			<form>

			<!--Welcome header-->
			<h2>Welcome.</h2><br>
			<h6>Enter your Organization Name to get started.</h6>

			<!--organization name-->
			<input type="text" name="orgName" placeholder="Organization Name">
			<br><br><br><br>
			<p> @activilog</p>

			<br>

			<!--Continue button-->
			<button type="submit">Continue >> </button>

			<br>
			</form>

		</div>


		<div class="footer">
			<p>Copyright 2017. All Rights Reserved.</p>
			<a href="">About</a>
			<p>|</p>
			<a href="">Help</a>
		</div>

	</body>
</html>
