#header {
	width: 100%;
	height: 60px;
  background-color: #428be5;
}

#header ul .logo {
    float: left;
}

#header ul .logo img {
  float: left;
}

#header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#header li {
    float: left;
}

#header li img {

}

#header li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    cursor: pointer;
}

#header ul .active {
  background-color: #2E61A0;
}

#header li a:hover {
    background-color: #2E61A0;
}

#header #navbar-heading{
  color: #F8F8FF;
  font-family: arial;
  font-size: 20px;
}

#header .home-logo{
  width:30px;
  height:30px;
  padding: 5px;
  align: middle;
}


#header .logout-button{
  float: right;
}
