/* Global Properties */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html, body {
	background-color: rgb(255, 255, 255);
	font-size: 13px;
	font-family: Verdana,Geneva,sans-serif;
	height: 100%;
	color: #333;
}

.loading {
	z-index:9999;
	position: absolute;
	width: 100%;
	height: 100%;
	background: url(../images/loading.gif) no-repeat;
	background-size: 60px 60px;
	background-position: center center;
	background-color:#428be5;
}

.spinner {
	width: 16px;
	height: 16px;
	background: url(../images/loading.gif) no-repeat;
	background-size: 16px 16px;
	background-position: center center;
	float: left;
	margin: -4px;
}

.page-spinner {
	width: 100px;
	height: 100px;
	background: url(../images/loading-dark.gif) no-repeat;
	background-size: 100px 100px;
	background-position: center center;
	margin: auto;
}

.color-wrap {
	width: 100%;
	height: 100%;
	background-color:#428be5;
	position: absolute;
}

.error {
	color: red;
	margin-top: 5px;
	margin-bottom: 5px;
}

.text-align-center {
	text-align: center;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

.marginr14 {
	margin-right: 14px;
}

.width20 {
	width: 20% !important;
}

.width24 {
	width: 24% !important;
}

.width30 {
	width: 30% !important;
}

.width40 {
	width: 40% !important;
}

.width48 {
	width: 48% !important;
}

.width50 {
	width: 50% !important;
}

.width60 {
	width: 60% !important;
}

.width80 {
	width: 80% !important;
}

.width100 {
	width: 100% !important;
}

.page {
	width: 800px;
	margin-top: 30px;
	margin-bottom: 30px;
	margin-left:auto;
	margin-right:auto;
	max-width: 1300px;
}

.page .header {
	width: 100%;
	margin-top: 35px;
	margin-bottom: 35px;
	font-size: 24px;
	text-transform: uppercase;
	font-weight: bold;
}

.records .header {
	margin-top: 35px;
	margin-bottom: 35px;
	margin-left: 30px;
	font-size: 24px;
	text-transform: uppercase;
	font-weight: bold;
}

.box {
	width: 100%;
	padding: 15px;
	box-sizing: border-box;
}

.box .title {
	font-size: 24px;
	text-transform: uppercase;
	text-align: center;
	width: 100%;
	padding: 20px;
	font-weight: bold;
}

.box .title p img {
	vertical-align: text-top;
}

.box .components {
	padding-top: 20px;
}

.box .components .input {
	padding-top: 10px;
	padding-bottom: 10px;
}

.box .components .input label {
	display: block;
}

#color-selector .colors {
	padding-top: 10px;
	padding-bottom: 10px;
}

#color-selector button {
	width: 30px;
	height: 30px;
	list-style: none;
	display: inline-block;
	margin: 10px;
	border-radius: 3px;
	cursor: pointer;
	border: 3px solid transparent;
}

#color-selector .active {
	border: 1px solid #000;
}

.pageNotFound {
	text-align: center;
	padding: 30px;
	font-size: 22px;
}

input[type=text], input[type=password] {
    padding: 12px 20px;
    margin: 8px 0;
	box-sizing: border-box;
	border: 1px solid grey;
	background-color: #F4F4F4;
	border-radius: 5px;
	width: 100%;
	font-size: 13px;
}

input[type=text]:focus, input[type=password]:focus {
    border: 2px solid #555;
}

select {
    padding: 12px 20px;
    margin: 8px 0;
	box-sizing: border-box;
	border: 1px solid grey;
	background-color: #F4F4F4;
	border-radius: 5px;
	width: 100%;
	height: 40px;
	font-size: 13px;
}

textarea {
    padding: 12px 20px;
    margin: 8px 0;
	box-sizing: border-box;
	border: 1px solid grey;
	background-color: #F4F4F4;
	border-radius: 5px;
	width: 100%;
	height: 130px;
	max-height: 200px;
	max-width: 100%;
	min-width: 100%;
	min-height: 130px;
	font-size: 13px;
}

.date {
	width: 400px !important;
}

.time_picker_container, .time_picker_preview {
	box-shadow: none !important;
	-webkit-box-shadow: none !important;
	transition: none;
	-webkit-transition: none !important;
	background-color: #F4F4F4 !important;
	height: 40px !important;
	margin: 8px 0;
}

.time_picker_preview {
	border: 1px solid grey !important;
	border-radius: 5px !important;
}

.preview_container {
	padding-left: 0px !important;
	padding-right: 0px !important;
}

/* Button Styling */

.submit {
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin-top: 10px;
	cursor: pointer;
	background-color:#428be5;
	width: 100%;
	border-radius: 5px;
	font-size: 14px;
}

.register {
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin-top: 10px;
	cursor: pointer;
	background-color:#d12121;
	width: 100%;
	border-radius: 5px;
	font-size: 14px;
}

.reset {
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin-top: 10px;
	cursor: pointer;
	background-color:#e08c3d;
	width: 100%;
	border-radius: 5px;
	font-size: 14px;
}

.pagination {
	margin-top: 20px;
	margin-bottom: 20px;
	height: 30px;
}

.forward {
	color: #fff;
	padding: 10px;
	background: #428be5;
	width: 150px;
	text-align: center;
	float: right;
	border: 0px;
	border-radius: 3px;
	cursor: pointer;
	font-size: 13px;
}

.backward {
	color: #fff;
	padding: 10px;
	background: #428be5;
	width: 150px;
	text-align: center;
	float: left;
	border: 0px;
	border-radius: 3px;
	cursor: pointer;
	font-size: 13px;
}

/* Table Styling */

table {
	width: 100%; 
    border-collapse: 
	collapse; border-spacing: 0; 
	border: 1px solid #428be5;
}

thead {  
	font-weight: bold;
	text-align: left;
	color: #FFF;
	border: 1px solid #428be5;
}

thead tr {  
    background: #428be5 !important;
}

thead th {  
    background: #428be5 !important;
}

tbody {  
    background: #FAFAFA;
    text-align: left;
}

tr {
	padding: 15px;
}

th {
	padding: 15px;
	border: 1px solid #FFF;
}
       
tr:nth-child(even) th { background: #F1F1F1; }   
    
tr:nth-child(odd) th { background: #FEFEFE; }



/* Authentication CSS */

#authenticate .container {
	width: 300px;
	position: fixed;
	left: 50%;
	top: 50%;
    transform: translate(-50%, -50%);
}

#authenticate .logo {
	width: 100%;
	height: 60px;
	text-align: center;
}

#authenticate .modal {
	background-color: #FFF;
	border-radius: 5px;
	padding: 15px;
}

#authenticate .modal .organization_input {
	width: 100%;
}

#authenticate .modal .organization_input input {
	width: 190px;
}

#authenticate .modal .organization_input .address {
	padding-left: 5px;
	color: #555;
}

#authenticate .modal .organization_input .title h2 {
	font-weight: bold;
	font-size: 18px;
	margin-bottom: 10px;
}

#authenticate .modal .organization_input .title p {
	margin-top: 5px;
	margin-bottom: 10px;
}

#authenticate .modal .loginform .title h2, #authenticate .modal .registrationform .title h2, #authenticate .modal .forgotform .title h2 {
	font-weight: bold;
	font-size: 18px;
	margin-top: 10px;
	margin-bottom: 15px;
	text-align: center;
}

#authenticate .modal .loginform .enter {
	height: 50px;
}

#authenticate .modal .loginform .forgotPassword {
	text-align: right;
	margin-top: 20px;
	cursor: pointer;
}

/* Footer CSS */
#footer {
	position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #2E61A0;
	padding: 10px;
	text-align:center;
	color: #fff;
	font-size: 12px;
}

/* Dashboard CSS */
#dashboard .welcome {
	color: black;
	font-size: 26px;
	text-transform: uppercase;
	padding-top: 15px;
	padding-bottom: 15px;
}

#dashboard .welcome strong {
	font-weight: bold;
}

#dashboard .container {
	display: inline-block;
}

#dashboard .pill {
	width: 200px;
	text-align:center;
	margin: 27px;
	border-radius: 3px;
}

#dashboard .pill a {
	text-align: center;
	text-decoration: none;
	color: #333;
}

#dashboard .pill a:hover {
	color: #2E61A0;
	text-decoration: underline;
}

#dashboard .pill p {
	margin-top: 30px;
}

@media screen and (max-width: 480px) {

.error {
	color: red;
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 2.2em !important;
	margin-left: 25px;
}

	
/* welcome page*/


	
/* Authentication CSS */

#authenticate .container {
	position: fixed;
	width: 85vw;
	left: 50%;
	top: 50%;
    transform: translate(-50%, -50%);
}

#authenticate .logo {
	width: 100%;
	text-align: center;
	margin-bottom: "10%";
	transform: translate(0, -100%);
}

#authenticate .logo img{
	width: 60%;
	text-align: center;
}

#authenticate .modal {
	background-color: #FFF;
	border-radius: 5px;
	padding: 15px;
}

#authenticate .modal .organization_input {
	width: 100%;
}

#authenticate .modal .organization_input input {
	margin-bottom: 25px;
	margin-left: 25px;
	height: 3.0em;
	width: 70%;
	font-size: 3.0em;
}

#authenticate .modal .organization_input .address {
	padding-left: 15px;
	font-size: 2.5em;
	color: #555;
}

#authenticate .modal .submit {
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin-top: 10px;
	cursor: pointer;
	background-color:#428be5;
	width: 100%;
	border-radius: 5px;
	font-size: 3.5em;
}

#authenticate .modal .organization_input .title h2 {
	font-weight: bold;
	font-size: 3.5em;
	margin-bottom: 15px;
	margin-top: 18px;
	margin-left: 25px;
}

#authenticate .modal .organization_input .title p {
	margin-top: 25px;
	margin-bottom: 18px;
	margin-left: 25px;
	font-size: 2.4em;
}

#authenticate .modal .loginform .title h2, #authenticate .modal .registrationform .title h2, #authenticate .modal .forgotform .title h2 {
	font-weight: bold;
	font-size: 3.5em;
	margin-top: 10px;
	margin-bottom: 15px;
	text-align: center;

}

#authenticate .modal .loginform .enter {
	width: 80%;
	font-size: 2.2em;
	height: 12px;
}

#authenticate .modal .loginform .forgotPassword {
	text-align: right;
	margin-top: 20px;
	cursor: pointer;
}
	
#authenticate .modal .loginform label {
	font-size: 2.4em;
	margin-top: 10px;
	margin-bottom: 15px;
	text-align: center;
	margin-left: 25px;
}

#authenticate .modal .loginform .submit {
	border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin-top: 10px;
	cursor: pointer;
	background-color:#428be5;
	width: 100%;
	border-radius: 15px;
	font-size: 2em;
	margin-left: 25px;
}

#authenticate .modal .loginform .register {
	border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin-top: 10px;
	cursor: pointer;
	background-color:#d12121;
	width: 100%;
	border-radius: 15px;
	font-size: 2em;
}
	


#authenticate .modal .loginform	.width48 {
	width: 48% !important;
}

	
#authenticate .modal .loginform input {
	margin-top: 20px;
	margin-bottom: 25px;
	margin-left: 25px;
	height: 2.4em;
	font-size: 2.5em;
	width: 90%;
}	

#authenticate .modal .registrationform input {
	margin-top: 20px;
	margin-bottom: 25px;
	margin-left: 25px;
	height: 2.4em;
	font-size: 2.5em;
	width: 90%;
}	

#authenticate .modal .registrationform label {
	font-size: 2.4em;
	margin-top: 10px;
	margin-bottom: 15px;
	text-align: center;
	margin-left: 25px;
}

#authenticate .modal .registrationform .register {
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin-top: 10px;
	cursor: pointer;
	background-color:#d12121;
	width: 100%;
	border-radius: 5px;
	font-size: 3.5em;
}

#authenticate .modal .forgotform input {
	margin-top: 20px;
	margin-bottom: 25px;
	margin-left: 25px;
	height: 2.4em;
	font-size: 2.5em;
	width: 95%;
}	

#authenticate .modal .forgotform label {
	font-size: 2.4em;
	margin-top: 10px;
	margin-bottom: 15px;
	text-align: center;
	margin-left: 25px;
}

#authenticate .modal .forgotform p {
	margin-top: 25px;
	margin-bottom: 18px;
	margin-left: 25px;
	font-size: 2.4em;
}


#authenticate .modal .forgotform .reset {
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin-top: 10px;
	cursor: pointer;
	background-color:#e08c3d;
	width: 100%;
	border-radius: 5px;
	font-size: 3.5em;
}


.editbutton {
	background-color: #4CAF50;
	color: white;
	text-align: center;
	text-decoration: none;
	border: none;
	display: inline-block;
	font-size: 16px;
	cursor: pointer;
	border-radius: 3px;
}

.editbutton p img {
	vertical-align: text-top;
}

/* Footer CSS */
#footer {
	position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #2E61A0;
	padding: 10px;
	text-align:center;
	color: #fff;
	font-size: 2.2em;
	
}

/* Dashboard CSS */
#dashboard .welcome {
	color: black;
	font-size: 3.5em;
	text-transform: uppercase;
	padding-top: 25px;
	padding-bottom: 25px;
}

#dashboard .page List{
	color: red;
	font-size: 3.5em;
	text-transform: uppercase;
	padding-top: 25px;
	padding-bottom: 25px;
}

#dashboard .logo img{
	width: 50%;
}


#dashboard .welcome strong {
	font-weight: bold;
}

#dashboard .container {
	display: inline-block;
	text-align: center;
}

#dashboard .pill {
	width: 320px;
	text-align:center;
	padding: 5px;
	margin: 27px;
	border-radius: 3px;
}

#dashboard .pill a {
	text-align: center;
	text-decoration: none;
	color: #333;
}

#dashboard .pill a:hover {
	color: #2E61A0;
	text-decoration: underline;
}

#dashboard .pill p {
	margin-top: 20px;
	font-size: 3em;
}

#dashboard .pill img {
	height: 200px;
	margin-top: 20px;
}

/* Form inputs */

.page {
	width: 800px;
	margin-top: 30px;
	margin-bottom: 30px;
	margin-left:auto;
	margin-right:auto;
	max-width: 1300px;
}

.page .header {
	width: 100%;
	margin-top: 35px;
	margin-bottom: 35px;
	font-size: 24px;
	text-transform: uppercase;
	font-weight: bold;
}

.box {
	width: 100%;
	padding: 15px;
}

.box .components .error {
	font-size: 1.3em;
	color: red;
}

.box .components .input .error {
	font-size: 1.0em;
	color: red;
}

.box .title {
	font-size: 3em;
	text-transform: uppercase;
	text-align: center;
	width: 100%;
	padding: 20px;
	font-weight: bold;
}

.box .components {
	padding-top: 20px;
}

.box .components input {
	margin-top: 10px;
	margin-bottom: 5px;
	height: 2.8em;
	font-size: 2.8em;
	width: 100%;
}

.box .components select {
	margin-top: 10px;
	margin-bottom: 5px;
	height: 2.8em;
	font-size: 1em;
}

.box .components option {
	margin-top: 10px;
	margin-bottom: 5px;
	font-size: 1.3em;
}

.box .components .input label {
	display: block;
	font-size: 2.8em;
	margin-top: 10px;
	margin-bottom: 15px;
	margin-left: 10px;
}

.box .components .input select {
	display: block;
	font-size: 2.8em;
	margin-top: 10px;
	margin-bottom: 15px;
	margin-left: 10px;
}

.box .components .submit {
	border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin-top: 25px;
	cursor: pointer;
	background-color:#428be5;
	width: 100%;
	border-radius: 15px;
	font-size: 3em;
	height: 2.7em;
}

.box .components .register {
	border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin-top: 25px;
	background-color:#d12121;
	cursor: pointer;
	width: 100%;
	border-radius: 15px;
	font-size: 3em;
	height: 2.7em;
}


.box .components .input .width24 {
	margin-top: 20px;
	margin-bottom: 30px;
	width: 40% !important;
	font-size: 2.4em;
	height: 3.5em !important;
}

.box .components .input .width24 label{
	font-size: 1.2em;
}

#color-selector .colors {
	padding-top: 10px;
	padding-bottom: 10px;
}

#color-selector button {
	width: 75px;
	height: 75px;
	list-style: none;
	display: inline-block;
	margin: 15px;
	border-radius: 3px;
	cursor: pointer;
	border: 3px solid transparent;
}


/* Table Styling */


thead {  
	font-weight: bold;
	text-align: left;
	color: #FFF;
	border: 1px solid #428be5;
	font-size: 2.2em;
}

thead tr {  
    background: #428be5 !important;
}

thead th {  
    background: #428be5 !important;
}

tbody {
	font-size: 1.4em;
    background: #FAFAFA;
    text-align: left;
}

tr {
	padding: 15px;
	
}

th {
	padding: 15px;
	border: 1px solid #FFF;
}

}